---
layout: scaffold
landing: true
---

<div class="hero">
  <div class="hero-wrapper">


    <div class="content">
      <img style="max-width:100%" src="{{ site.landing_image }}">
      <!-- <h1>{{ site.title }}</h1> -->
      <!-- <p>{{ site.description }}</p> -->
      <!-- <h2>Navigation</h2> -->
    </div>
  </div>
  {% if site.landing_page.blog or site.landing_page.events %}
    <a class="arrow-down" href="#writing"></a>
  {% endif %}
</div>

{% if site.landing_page.events %}
  <main>
    <div class="content" id="writing">
      <h1><i class="fa fa-calendar-o" aria-hidden="true"></i> &nbsp; {{site.landing_page.events_title}}</h1>
      <section class="post-index">
        {% for article in site.events limit:2 %}
          {% include index-article.html %}
        {% endfor %}
      </section>
      <h4><a href="/eventi">Vedi tutti gli eventi</a></h4>
      <hr>
    </div>
  </main>
{% endif %}

{% if site.landing_page.blog %}
  <main>
    <div class="content" id="writing">
      <h1><i class="fa fa-pencil" aria-hidden="true"></i>
 &nbsp; {{site.landing_page.blog_title}}</h1>
      <section class="post-index">
        {% for article in site.posts %}
          {% include index-article.html %}
        {% endfor %}
      </section>      
      <h4><a href="/blog">Vedi tutti i post</a></h4>
    </div>
  </main>
{% endif %}
