---
layout: scaffold
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.6&appId=480155522043231";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include masthead.html %}

  <div class="page">
    <div class="content">
      <div class="post">
        <section class="post-body">
          {{ content }}
        </section>
<div class="fb-like" data-href="http://amatiperamare.it/secondo-post" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>        <!-- <h3><a href="{{ site.facebook }}">Seguici su <i class="fa fa-facebook-square" aria-hidden="true"></i></a></h3> -->
        <!-- <p class="meta text-right">Like what you just read? <a href="https://tinyletter.com/qrohlf">Subscribe</a>.</p> -->
      </div>
    </div>
  </div>
</main>

